@using Harmony.Bussiness.ViewModel;
@model UserRegisterVm

@{
    ViewData["Title"] = "Sign up";
}
@Html.Partial("~/Views/Account/_MenuUser.cshtml")

<div class="row">

    <div class="col-md-6 offset-3">

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <img src="~/images/logo_harmony1.jpg" class="rounded mx-auto d-block" />
                <h6 class="text-center">¿Aún no tienes una cuenta?</h6>
                <p class="text-center">Regístrate ahora y disfruta de nuestros servicios</p>
                <br />


                <form asp-action="CreateWorker">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        @* <label asp-for=" FirstName" class="control-label"></label> *@
                        <input asp-for=" FirstName" class="form-control" placeholder="Nombre" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @* <label asp-for="LastName" class="control-label"></label> *@
                        <input asp-for="LastName" class="form-control" placeholder="Apellido" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @* <label asp-for="Email" class="control-label"></label> *@
                        <input asp-for="Email" class="form-control" placeholder="Correo" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        @* <label asp-for="Password" class="control-label"></label> *@
                        <input asp-for="Password" type="password" class="form-control" type="password" placeholder="Contraseña" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @*Quizás haya que aplicar más lógica para el confirmar contraseña*@
                    <div class="form-group">
                        @* <label asp-for="Password" class="control-label"></label> *@
                        <input asp-for="Password" type="password" class="form-control" placeholder="Confirmar Contraseña" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @* <div class="form-group">
                    <label asp-for=" Phone" class="control-label"></label>
                    <input asp-for=" Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for=" BirthDay" class="control-label"></label>
                    <input asp-for=" BirthDay" class="form-control" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div> *@

                    <div class="form-group">
                        <button style="background-color: #1a1d39; border-radius: 4px;">
                            <a class="text-decoration-none text-white ms-auto" asp-controller="" asp-action="">¿Ya tienes una cuenta?</a>
                        </button>
                        <button class="text-decoration-none text-white ms-auto" type="submit" style="background-color: #1a1d39; border-radius: 4px;">
                            Crear cuenta
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>