@model Harmony.Bussiness.ViewModel.UserVm

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>Seguro que quieres eliminar este usuario?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
                <!-- button type="button" class="btn btn-primary">Si</button> -->
            </div>
        </div>
    </div>
</div>