html {
  font-size: 14px;
}

* {
    font-family: 'Gabriela', serif;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

#btnLogin {
    width: 100%;
    background-color: #1a1d39;
    border-radius: 4px;
    color: white;
}

#aLoginGoogle {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: inherit;
}

#btnRegister {

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');